@font-face {
    font-family: LifehackBasic-Regular;
    src: url("../../assets/fonts/LifehackBasic-Regular.otf");
    font-weight: 400;
    font-size: 16px;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
    transition: all .3s ease;
    overflow: hidden;
    max-width: 400px;
}
a:hover {
    color: rgba(0, 188, 212, 0.7)
}
@media (max-width: 1000px) {
    a {
        max-width: 210px;
    }
}

@media (max-width: 650px) {
    .media-table-column {
        display: none;
    }
}

.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    height: 100%;
    width: 95%;
}
